@using Books.WebApp.App_LocalResources
<footer class="footer mt-auto py-3">
	<div class="container">
		<span class="text-muted">
			<i class="fa fa-book"></i>
			@AppUI.SiteName &copy; @DateTime.UtcNow.Year
		</span>
	</div>
</footer>