@using Books.Web.App_LocalResources
@using Books.Web.ViewModels
@model HomeViewModel
@{
	ViewBag.Title = AppUI.HomePageTitle;
}
@Html.HiddenFor(p => p.AppConfig.WebApiUrl)
<div class="container">
	<div class="row">
		<div class="col">
			<h2>@AppUI.PageHeader</h2>
		</div>
	</div>
	<div class="row">
		<div class="col">
			@Html.Partial("~/Views/Books/_BooksTable.cshtml")
		</div>
	</div>
</div>