@using Books.Web.App_LocalResources
@model Books.Web.ViewModels.HomeViewModel
@{
	ViewBag.Title = AppUI.HomePageTitle;
}
<div class="container">
	<div class="row">
		<div class="col">
			<h2>@AppUI.PageHeader</h2>
			@Session.SessionID
		</div>
	</div>
	<div class="row">
		<div class="col">
			@Html.Partial("~/Views/Books/_BooksTable.cshtml", Model.Sort)
		</div>
	</div>
</div>