@using Books.Web.App_LocalResources
@model Books.Web.ViewModels.HomeViewModel
@{
	ViewBag.Title = AppUI.HomePageTitle;
}
<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h1>@AppUI.PageHeader</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			@Html.Partial("~/Views/Books/_BooksTable.cshtml", Model.Sort)
		</div>
	</div>
</div>