@model Books.Web.ViewModels.SortViewModel
@Html.HiddenFor(p => p.SortField)
@Html.HiddenFor(p => p.DescSort)
<div class="js-books-table">
    <table class="table table-bordered" data-bind="visible: visible && books().length > 0" style="display: none;">
        <thead>
        <tr data-bind="foreach: {data:headers}">
            <th>
                <span data-bind="text: title, css: {'pointer text-primary': canSort}, click: $parent.sort"></span>
                <span data-bind="visible: $parent.sortField() == sortField">
                    <span data-bind="visible: !$parent.descSort()">&#9650;</span>
                    <span data-bind="visible: $parent.descSort()">&#9660;</span>
                </span>
            </th>
        </tr>
        </thead>
        <tbody data-bind="foreach: {data:books}">
        <tr>
            <td data-bind="if: hasImage">
                <img width="100" data-bind="attr:{src: imageUrl}" alt=""/>
            </td>
            <td data-bind="text: title"></td>
            <td data-bind="foreach: {data:authors}">
	            <div>
		            <span data-bind="text: firstName"></span>
		            <span data-bind="text: lastName"></span>
	            </div>
            </td>
            <td data-bind="text: pageCount"></td>
            <td data-bind="text: year"></td>
            <td data-bind="text: publisher"></td>
            <td data-bind="text: isbn"></td>
            <td class="text-nowrap">
                <button class="btn btn-default" data-bind="text: resources.appUI.edit, click: $parent.edit"></button>
                <button class="btn btn-danger" data-bind="text: resources.appUI.delete, click: $parent.delete"></button>
            </td>
        </tr>
        </tbody>
    </table>
    <table class="table table-bordered" data-bind="visible: books().length == 0" style="display: none;">
        <tr>
            <td data-bind="text: resources.appUI.noBooks"></td>
        </tr>
    </table>
    <div class="text-right">
        <button class="btn btn-success" data-bind="text: resources.appUI.addBook, click: create"></button>
    </div>
    @Html.Partial("~/Views/Books/_BooksEditModal.cshtml")
</div>