<div class="modal fade js-books-edit-modal" data-bind="with: editModel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" data-bind="text: title"></h4>
            </div>
            <div class="modal-body">
                @Html.Partial("~/Views/Books/_BooksEditForm.cshtml")
            </div>
	        <div class="modal-footer">
		        <button type="button" class="btn btn-success" data-bind="text: resources.appUI.save, click: save"></button>
		        <button type="button" class="btn btn-default" data-dismiss="modal" data-bind="text: resources.appUI.cancel"></button>
	        </div>
        </div>
    </div>
</div>